body {
    background-image: url("./resources/ep2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1400px 900px;
    background-attachment: fixed;
}

.App {
    margin: 0 auto;
}

.btn-cus {
    width: 28px;
    height: 28px;
    text-align: left;
}